In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://github.com/vistec-AI/WangchanX-Eval/raw/main/SeaLLM-7B-v2.5.csv")

In [11]:
df

,id,references,context,question,predictions
0,56beb4343aeaaa14008c925b,308,﻿ทีมรับของแพนเธอร์สถอดใจที่คะแนน 308 ได้อันดับ...,ทีมรับของแพนเธอร์สยอมแพ้ที่คะแนนเท่าไร,ทีมรับของแพนเธอร์สยอมแพ้ที่คะแนน 308
1,56beb4343aeaaa14008c925c,136,﻿ทีมรับของแพนเธอร์สถอดใจที่คะแนน 308 ได้อันดับ...,จาเรด อัลเลน ทำการแซ็คไปกี่ครั้งตลอดอาชีพ,จาเรด อัลเลน มีสถิตินำจากการแซ็คตลอดอาชีพนักอเ...
2,56beb4343aeaaa14008c925d,118,﻿ทีมรับของแพนเธอร์สถอดใจที่คะแนน 308 ได้อันดับ...,ลูค คีคลี แท็คเกิลไปกี่ครั้ง,ลูค คีคลี ทำการแท็คเกิลไป 118 ครั้ง
3,56beb4343aeaaa14008c925e,สี่,﻿ทีมรับของแพนเธอร์สถอดใจที่คะแนน 308 ได้อันดับ...,จอช นอร์แมน อินเตอร์เซปลูกบอลได้กี่ลูก,วริน นอร์แมนทำการแทรกบอลได้ 4 ครั้ง และ 2 ของต...
4,56beb4343aeaaa14008c925f,คาวันน์ ชอร์ต,﻿ทีมรับของแพนเธอร์สถอดใจที่คะแนน 308 ได้อันดับ...,ใครทำการแซ็คได้มากที่สุดของทีมในฤดูกาลนี้,ในบริบทที่ให้มา คาวันน์ ชอต เป็นผู้เล่นตำแหน่ง...
...,...,...,...,...,...
95,5733834ed058e614000b5c29,374,ตลาดหลักทรัพย์แห่งแรกของวอร์ซอว์ก่อตั้งขึ้นในป...,มีกี่บริษัทที่อยู่ในรายชื่อของตลาดหลักทรัพย์วอ...,ในสิงหาคมปี 2009 ตลาดหลักทรัพย์วอร์ซอว์มีบริษั...
96,5733834ed058e614000b5c2a,สหพรรคแรงงานโปแลนด์,ตลาดหลักทรัพย์แห่งแรกของวอร์ซอว์ก่อตั้งขึ้นในป...,ตลาดหลักทรัพย์วอร์ซอว์ตั้งอยู่ในอดีตสำนักงานให...,ตลาดหลักทรัพย์วอร์ซอว์ตั้งอยู่ในอดีตสำนักงานให...
97,56dde1d966d3e219004dad8d,รอลโล,ก่อนการมาถึงของ รอลโล ประชากรของที่นี่ถือว่าเป...,การมาถึงของใครที่ทำให้ผู้ตั้งถิ่นฐานชาวไวกิงมี...,การมาถึงของ รอลโล (Rolleux) ทำให้ผู้ตั้งถิ่นฐา...
98,56de0daecffd8e1900b4b595,โดรโก,ครอบครัวชาวนอร์มันที่โดดเด่นที่สุดสองครอบครัวซ...,ผู้นำที่ได้รับมอบบรรดาศักดิ์จากจักรพรรดิอ็องรี...,โดรโก
99,56de0daecffd8e1900b4b596,วิลเลียมแขนเหล็ก,ครอบครัวชาวนอร์มันที่โดดเด่นที่สุดสองครอบครัวซ...,ใครคือเคานต์แห่งเมลฟี,แคทเทอรี่แห่งเมลฟีคือ วิลเลียมแขนเหล็ก (Willia...

In [6]:
df.id

0     56beb4343aeaaa14008c925b
1     56beb4343aeaaa14008c925c
2     56beb4343aeaaa14008c925d
3     56beb4343aeaaa14008c925e
4     56beb4343aeaaa14008c925f
                ...
95    5733834ed058e614000b5c29
96    5733834ed058e614000b5c2a
97    56dde1d966d3e219004dad8d
98    56de0daecffd8e1900b4b595
99    56de0daecffd8e1900b4b596
Name: id, Length: 100, dtype: object

In [4]:
en_df = pd.read_parquet("hf://datasets/google/xquad/xquad.en/validation-00000-of-00001.parquet")

In [8]:
test_en=en_df.loc[en_df['id'].isin(df["id"])]

In [9]:
test_en

,id,context,question,answers
0,56beb4343aeaaa14008c925b,"The Panthers defense gave up just 308 points, ...",How many points did the Panthers defense surre...,"{'text': ['308'], 'answer_start': [34]}"
1,56beb4343aeaaa14008c925c,"The Panthers defense gave up just 308 points, ...",How many career sacks did Jared Allen have?,"{'text': ['136'], 'answer_start': [470]}"
2,56beb4343aeaaa14008c925d,"The Panthers defense gave up just 308 points, ...",How many tackles did Luke Kuechly register?,"{'text': ['118'], 'answer_start': [789]}"
3,56beb4343aeaaa14008c925e,"The Panthers defense gave up just 308 points, ...",How many balls did Josh Norman intercept?,"{'text': ['four'], 'answer_start': [140]}"
4,56beb4343aeaaa14008c925f,"The Panthers defense gave up just 308 points, ...",Who registered the most sacks on the team this...,"{'text': ['Kawann Short'], 'answer_start': [192]}"
...,...,...,...,...
95,5733834ed058e614000b5c29,Warsaw's first stock exchange was established ...,How many companies were listed on the WSE on A...,"{'text': ['374'], 'answer_start': [361]}"
96,5733834ed058e614000b5c2a,Warsaw's first stock exchange was established ...,Whose former headquarters was the WSE located ...,"{'text': ['Polish United Workers' Party'], 'an..."
97,56dde1d966d3e219004dad8d,"Before Rollo's arrival, its populations did no...",Who upon arriving gave the original viking set...,"{'text': ['Rollo'], 'answer_start': [7]}"
98,56de0daecffd8e1900b4b595,The two most prominent Norman families to arri...,What was the name of the leader ennobled by He...,"{'text': ['Drogo'], 'answer_start': [627]}"
99,56de0daecffd8e1900b4b596,The two most prominent Norman families to arri...,Who was Count of Melfi,"{'text': ['William Iron Arm'], 'answer_start':..."

In [14]:
test_en["references"]=[i["text"][0] for i in test_en["answers"]]

/tmp/ipykernel_181104/587633421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_en["references"]=[i["text"][0] for i in test_en["answers"]]

In [15]:
test_en

,id,context,question,answers,references
0,56beb4343aeaaa14008c925b,"The Panthers defense gave up just 308 points, ...",How many points did the Panthers defense surre...,"{'text': ['308'], 'answer_start': [34]}",308
1,56beb4343aeaaa14008c925c,"The Panthers defense gave up just 308 points, ...",How many career sacks did Jared Allen have?,"{'text': ['136'], 'answer_start': [470]}",136
2,56beb4343aeaaa14008c925d,"The Panthers defense gave up just 308 points, ...",How many tackles did Luke Kuechly register?,"{'text': ['118'], 'answer_start': [789]}",118
3,56beb4343aeaaa14008c925e,"The Panthers defense gave up just 308 points, ...",How many balls did Josh Norman intercept?,"{'text': ['four'], 'answer_start': [140]}",four
4,56beb4343aeaaa14008c925f,"The Panthers defense gave up just 308 points, ...",Who registered the most sacks on the team this...,"{'text': ['Kawann Short'], 'answer_start': [192]}",Kawann Short
...,...,...,...,...,...
95,5733834ed058e614000b5c29,Warsaw's first stock exchange was established ...,How many companies were listed on the WSE on A...,"{'text': ['374'], 'answer_start': [361]}",374
96,5733834ed058e614000b5c2a,Warsaw's first stock exchange was established ...,Whose former headquarters was the WSE located ...,"{'text': ['Polish United Workers' Party'], 'an...",Polish United Workers' Party
97,56dde1d966d3e219004dad8d,"Before Rollo's arrival, its populations did no...",Who upon arriving gave the original viking set...,"{'text': ['Rollo'], 'answer_start': [7]}",Rollo
98,56de0daecffd8e1900b4b595,The two most prominent Norman families to arri...,What was the name of the leader ennobled by He...,"{'text': ['Drogo'], 'answer_start': [627]}",Drogo
99,56de0daecffd8e1900b4b596,The two most prominent Norman families to arri...,Who was Count of Melfi,"{'text': ['William Iron Arm'], 'answer_start':...",William Iron Arm

In [16]:
del test_en["answers"]

In [17]:
test_en

,id,context,question,references
0,56beb4343aeaaa14008c925b,"The Panthers defense gave up just 308 points, ...",How many points did the Panthers defense surre...,308
1,56beb4343aeaaa14008c925c,"The Panthers defense gave up just 308 points, ...",How many career sacks did Jared Allen have?,136
2,56beb4343aeaaa14008c925d,"The Panthers defense gave up just 308 points, ...",How many tackles did Luke Kuechly register?,118
3,56beb4343aeaaa14008c925e,"The Panthers defense gave up just 308 points, ...",How many balls did Josh Norman intercept?,four
4,56beb4343aeaaa14008c925f,"The Panthers defense gave up just 308 points, ...",Who registered the most sacks on the team this...,Kawann Short
...,...,...,...,...
95,5733834ed058e614000b5c29,Warsaw's first stock exchange was established ...,How many companies were listed on the WSE on A...,374
96,5733834ed058e614000b5c2a,Warsaw's first stock exchange was established ...,Whose former headquarters was the WSE located ...,Polish United Workers' Party
97,56dde1d966d3e219004dad8d,"Before Rollo's arrival, its populations did no...",Who upon arriving gave the original viking set...,Rollo
98,56de0daecffd8e1900b4b595,The two most prominent Norman families to arri...,What was the name of the leader ennobled by He...,Drogo
99,56de0daecffd8e1900b4b596,The two most prominent Norman families to arri...,Who was Count of Melfi,William Iron Arm

In [19]:
test_en.to_csv("eval.csv",index=False)